/* Tailwind CSS */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, skeletons, utilities;

/* Local layers */
@import "./base.css";
@import "./components.css";
@import "./utilities.css";
@import "./skeletons.css";
